:root {
  --dark: #000;
  --light: #fff;
  
  --yel: #fffb00;
  --blue: #584fff;
  --blue-form: #1976d2;
  --red: #f00;
  --silv: #222;
  --silv-light: #444;
};

#page {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .MuiContainer-root {
    min-width: 320px;
    max-width: 444px;
    margin: 50px auto;
    padding: 0 15px;

    .othBtn {
      color: var(--blue);
    }
  }
  
  &.dark {
    background: var(--dark);

    .MuiContainer-root {
      background: var(--dark) !important;
      color: var(--light) !important;

      .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
        border-color: var(--silv) !important;
      }

      .MuiFormLabel-root {
        color: var(--silv-light) !important;
      }

      .Mui-focused {
        .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
          border-color: var(--blue-form) !important;
        }

        &.MuiFormLabel-root {
            color: var(--blue-form) !important;
        }
      }

      .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
          color: var(--light) !important;
      }

      svg {
          fill: var(--silv) !important;
      }

      .Mui-checked {
          svg {
            fill: var(--blue-form) !important;
          }
      }

      p {
        color: var(--silv-light) !important;
      }
    }
  };

  &.light {
    background: var(--light);
  };
};

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}